body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; /* Відсутність відступів */
    height: 100vh; /* Висота блоку на всю висоту екрану */
    background: url('backgroundImg.png') no-repeat center center fixed;
    background-size: cover; /* Зображення заповнює весь екран */
}

.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, button {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

#weatherResult {
    margin-top: 20px;
}
